# Type de base de données : mysql | sqlite | postgres
DB_DRIVER=mysql

# Paramètres de connexion (non requis pour SQLite)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=nom_de_votre_base

# Pour SQLite, indiquez le chemin du fichier
# DB_DATABASE=./votre_base.db

# Répertoire de sortie des fichiers générés
OUTPUT_PATH=./output